@import "tailwindcss";

/* Tailwind v4 tokens */
@theme {
  --color-indigoBrand: #2f295c; /* main */
  --color-aquaBrand:   #30d5d1; /* secondary */
  --color-pinkBrand:   #ec326c; /* accent */
}

/* tiny base styles so we can see something */
html, body { height: 100%; }
body { background: white; color: #0a0a0a; }
